.catalog-page {
  position: relative;
  left: 1%;
  top: 5%;
  width: 98%;
  height: 100vh;
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  }
  .model-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Align items to the start of the flex container */
    gap: 20px;
  }
  
  