
/*PARAMETTRAGE TAILLE LONGEUR POSITION */
.page {
  position: absolute;
  left: 31%;
  top: 50%;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
  padding: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/* bouton ok*/
.okButton {
  background-color: rgb(227,6,19);
  color: white;
  padding: 4px 30px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  position: relative;
  right: 5%; 
  bottom: 10px;

}
.ok-button-container {
  margin-top: 20px;
  text-align: right;
  
}

/* Table*/

.tab th,
.tab td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;  
  text-align: left;   
  width: auto;  
}
.tab-container {
 
  max-height: 500px;
  max-width: 1000px;
  overflow-y: auto;

}
.tab-container table {
  padding-right: 20px; 
  width: calc(100% - 20px);
}

.tab-container table thead th {
  position: sticky;
  top: 0; 
  z-index: 1; 
  background-color: #fff; 
}

/* Style */
.Police {
  font-size: 15px; 
}
/*le trait du haut*/
.trait {
  width: calc(100% - 10px);
  border: none;
  background-color: #DADADA;
  height: 1px;
  position: absolute;
  top: 4%; 
  left: 5px;
}
/* Barre de recherche  */

/* filtre */
.custom-filter {
  position: relative ; 
  height: 15%;
  top: 10%; 
  left: 28%; 

}


/* barre de recherche*/
.search-container {
  position: relative;

}
.search-input {
  position: relative;
  padding-left: 30px; 
  height: 35px;
  width: 160%;
  border: 1px solid #ccc; 
  background-color: #f0f0f0; 
  border-radius: 50px;
  left: 30%; 

}
.search-icon {
  position: absolute;
  top: 50%;
  left: 70px; 
  transform: translateY(-50%);
  color: #888; 
}


/* Style pour la slide bar */
.tab-container::-webkit-scrollbar {
  width: 25px; 
}
.tab-container::-webkit-scrollbar-track {
  background: #f2f2f2; 
  border-radius: 10px;
}
.tab-container::-webkit-scrollbar-thumb {
  background: #252424c4; 
  border-radius: 10px;
  right: 2px; 
}


