.navbar {
  background-color: var(--background-color);
  width: 100%;
  height: 80px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: absolute;
}

.logo img {
  height: 40px;
  width: 40px;
}


.dropdown-menu {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: var(--secondary-bg);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
  display: none; /* Initialement caché */
}

.dropdown-menu.active {
  display: block; /* Affiché lorsqu'actif */
}

.dropdown-header {
  text-align: center;
  color: var(--primary-text-color);

}

.dropdown-menu ul li a {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  gap: 10px;
}
.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -3px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}
.dropdown-item {
  color: var(--primary-text-color);
  border-radius: var(--border-radius);
  background-color: var(--toggle-fg-hover);
}
.btn:focus {
  box-shadow: none;
}

.dropdown-menu ul li a svg {
  color: var(--primary-text-color);
}