img{
    width: 23px; 
    height: 23px;
}

  /* Style pour l'icône de suppression lors du survol */
.icon-trash:hover {
    color: red; /* Changez la couleur lors du survol */
    cursor: pointer; /* Changez le curseur pour indiquer que l'icône est cliquable */
  }
  
  /* Style pour l'icône de suppression lors du clic */
  .icon-trash:active {
    transform: scale(0.8); /* Réduisez légèrement la taille de l'icône lors du clic */
  }
  
  /* Style pour l'icône de visualisation lors du survol */
  .icon-eye:hover {
    color: blue; /* Changez la couleur lors du survol */
    cursor: pointer;
  }

  button:hover{
    background-color: blue; /* Changez la couleur lors du survol */
    cursor: pointer;
  }
  
  /* Style pour l'icône de visualisation lors du clic */
  .icon-eye:active {
    transform: scale(0.8);
  }

  
.container-fluid{
  width: 70%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  
 
}

  .container-fluid h2{
   margin-top: 120px;
    margin-left: 220px;
  }
  
  .col-12 {
    position: absolute;
    left: 12%;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px; /* Correspond à 'col-12' */
    
  }

  .container-fluid p button{
    margin-top: 0%;
    margin-left: 135%;
    font-weight: 400;
    
    border: 1px solid transparent;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;

    font-size: 16px;
    background-color: var(  --toggle-fg-before-hover);
    color: #ffffff;
    }

    .container-fluid p button:active{
      transform: scale(0.8);
    }

  .table {
    width: 80%;
    margin-bottom: 1rem;
 
    color: #212529;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
  }

  .custom-menu {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px; /* Espace entre les éléments */
  }
  
  .menu-item {
    font-size: 1em; /* Taille de la police ajustée */
  }
  
  .date-picker,
  .select-picker,
  .search-box {
    font-size: 1em; /* Taille de la police pour les inputs et selects */
    padding: 5px;
    margin: 0;
  }
  
  .search-box {
    flex-grow: 1;
  }
  
  .search-input {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .custom-menu .menu-item {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  /* ajouter de la marge à gauche du premier élément du menu*/
  .custom-menu .menu-item:first-child {
    margin-left: 30px;
  }

  .col-12 hr{
    margin-left: 25px;
    width: 104%;
  }
  
 
  
  
 