
:root {
    --primary-bg: #F3F6F9;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #fff;
    --border-radius: 8px;
    --speed: 500ms;
    --background-color: #ffff;
    --foreground-color: #003cff;
    --toggle-bg: #f0eb9d;
    --toggle-fg:#ffd000;
    --hover-color: #fff;;
    --toggle-fg-before-hover:#E30613;
    --toggle-fg-after-hover:#cc0000;
    --border-radius: 0.25rem;
    --sidebar-item-active:#fde8e8;
    --shadow:rgba(0,0,0,0.1);
    --header-array-color:#F2F5F7;
    --header-array-text-color:#03003A;
    --array-border-color:#F2F5F7
  }

  [data-theme="dark"] {
    --primary-bg:#283452;
    --background-color: #001529;
    --secondary-bg: #001529;
    --foreground-color: #567aff;
    --primary-text-color: #f6f6f6;
    --secondary-text-color: #f6f6f6;
    --toggle-bg: #283452;
    --toggle-fg:#00a6ff;
    --toggle-fg-before-hover:#1677ff;
    --toggle-fg-after-hover:#1677ff;
    --sidebar-item-active:rgb(137, 167, 249);
    --hover-color: #f6f6f6;
    --shadow:rgba(255, 255, 255, 0.1);
    --header-array-color:#0F172A;
    --header-array-text-color:#BFC2CA;
    --array-border-color: #F2F5F7

  }
