.statsAcceuil {
    display: flex;
    align-items: center;
    background: #FFFFFF; /* Couleur de fond de l'élément */
    padding: 16px;
    border-radius: 8px; /* Rayon de la bordure pour les coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée légère */
    margin-bottom: 16px; /* Espace en dessous de chaque élément */
  }
  
  .statsAcceuil-icon {
    margin-right: 16px; /* Espace entre l'icône et le texte */
  }
  
  .statsAcceuil-icon img {
    width: 50px; /* Taille de l'icône */
    height: auto; /* Pour maintenir le ratio de l'image */
  }
  
  .statsAcceuil-content {
    display: flex;
    flex-direction: column;
  }
  
  .statsAcceuil-title {
    font-size: 1em; /* Taille de la police pour le titre */
    color: #333; /* Couleur de la police pour le titre */
    margin: 0 0 4px 0; /* Marge autour du titre */
  }
  
  .statsAcceuil-count {
    font-size: 0.85em; /* Taille de la police pour le compteur */
    color: #666; /* Couleur de la police pour le compteur */
  }
  