
  .navbar {
    background-color: var(--background-color); /* White background */
    width: 100%;
    height: 80px;
    padding: 10px; 
    align-items: center; /* Alignement vertical des enfants */
    justify-content: space-between; /* Espacement entre les enfants */

  }
  
  .navbar-container {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow at the bottom */
  }
  .navbar-logo {
    height: 40vmin;
    pointer-events: none;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:  var(--background-color);
  }
  .logo img{
    height: 40px;
    width: 40px;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  ul{
    list-style: none;

  }
  
  a {
    text-decoration: none;
  }
  
  .menu-trigger img{
    position: absolute;
    top: 20px;
    right: 70px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color:  var(--secondary-color);
  }
  
  .menu-trigger p{
    top: 15px;
    right: 20px;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    color: var(--primary-text-color);
  }
  .dropdown-menu{
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: var(--secondary-bg);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;

  }
  .dropdown-menu ul li a {
  text-align: center;  /* Center the text */
}
  .dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  
  
  h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-text-color);
    line-height: 1.2rem;
  }
  
  h3 span{
    font-size: 14px;
    color: var(--primary-text-color);
    font-weight: 400;
  }
  
  .dropdown-menu ul li:hover{
    padding: 10px  0;
    width: 100%;
    background-color: var(--toggle-fg-hover);


  }
  .dropdown-menu ul li{
    padding: 10px  0;
    width: 100%;

  }
  .dropdown-menu ul li a {
    transition: color 0.3s, var(--toggle-fg-hover) width 0.3; /* Add a smooth transition for text and background color */
    display: block; /* Make the anchor a block element to occupy the full width */
  }
  
  
  .dropdown-menu ul li:hover a{
    color: var(--hover-color);
    cursor: pointer;
    text-align: center;
  }
  
  .dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;

  }
  
  .dropdownItem{
    display: flex;
    margin: 10px auto;
    transition: background-color 250ms ease-in-out;

  }
  
  .dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
    color:var(--hover-color)
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
    color: var(--primary-text-color);
  }
  .left-section {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-start; /* Align items to the start of the container */
    gap: 20px; /* Adjust the gap as needed */
  }