

.card-content {
    padding: 5px;
    background-color: var(--background-color);
    border-radius: 10px; /* Bords arrondis */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
    
  }

  .Acceuil {
    margin-top: 35px;
    width: 97%;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display:flex;
    flex-direction: column;

  }

  .card-content hr{
   position: absolute;
    width: 24%;
  }
  
  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espace en dessous du header */
    border-radius: 4%;
  }
  

  
  .project-description {
    padding: 10px;
    background-color: #f0f0f0; /* Pour le cadre de la description */
    border-radius: 4px; /* Bords arrondis */
    margin-top: 20px; /* Espace au-dessus du cadre */
  }

 
  .card-header h2{  /* s'applique au h2 contenu dans .card-header*/
    
    margin-left: 15px;
    margin-top: 0px;
    
  }

  .card-header img{  
    width: 50px; 
    height: 50px; 
    border-radius: 50%; /* Pour rendre l'image ronde */
    margin-left: 50%;
    margin-top: 0%;
  }
  