.Bloc {
    position: absolute;
    left: 11.3%;
    top: 9%;
    right: 0%;
    width: 88%;
    height: 100%; 
    background-color: white;
    
  }
  
  .Bloc1 {
    margin-bottom: 15%; 
    margin-top: 0%;
  }