.importButton {
  background-color: rgb(227,6,19);
  color: white;
  padding: 8px 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  left: 180%; /* Ajuster cette valeur pour positionner le bouton tout à droite */
  top: 0px; 
}
  
.page {
  position: absolute;
  right: 0%;
  top: 15%;
  left: 13.75%;
  width: 85%;
  height: 94%;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

}
 
.table {
   position: relative;
    width: 100%;
    top: 4%;
}
.table th,
.table td {
    text-align: left;  
    font-size: 15px; 
    
}

.title{
  position: absolute;
  top: 2%;
}

hr {
  width: calc(100% - 10px);
  border: none;
  background-color: #DADADA;
  height: 1px;
  position: absolute;
  top: 10%; /* Ajustement de la position en haut */
  left: 5px;
}
/* le menu*/
.head-list {
  position: relative;
  width: 40%;
  top: 3%;

}